<app-header> </app-header>
<div class="container">
  <main>     
    <ul id="users">
      <li *ngFor="let user of users; let i = index">
        <app-user [user]="users[i]" [selected]="user.id === selectedUserId ? true : false" (select)="onSelectUser($event)"></app-user>
      </li>
    </ul>
  </main>

  <div class="tasks-wrapper"> 
    @if (selectedUser) {
      <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name"></app-tasks>
    } @else {
      <p id="fallback">No user selected</p>
    }
  </div>
</div>

<!-- <app-school3></app-school3> -->
<!-- <app-school3-v2></app-school3-v2> -->
